body {
  min-width: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  pointer-events: all;
  background-color: rgba(243, 231, 211, 0.548);
}
.header {
  float: left;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgb(0, 0, 0);
}
.headerleft {
  float: left;
  width: 50%;
  height: 100%;
}
.search {
  float: left;
  width: 70%;
  height: 100%;
}
input {
  width: 70%;
  height: 30px;
  border-radius: 4px 4px 4px 4px;
  margin: 20px 10px 10px 15px;
  border: none;
}
.headerright {
  float: left;
  width: 50%;
  height: 100%;
}
.logoheader {
  float: left;
  width: 30%;
  height: 100%;
  background-image: url('logodoc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-right: 20px;
}
.body {
  float: left;
  width: 100%;
  height: 1000px;
  margin-top: 80px;
} 
.event {
  width: 100%;
  height: 500px;
  background-image: url('womanday83.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.product {
  float: left;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.product1 {
  width: 24.5%;
  height: 100%;
  float: left;
}
.img1 {
  background-image: url('product1.jpg');
  width: 100%;
  height: 60%;
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.img2 {
  width: 100%;
  height: 60%;
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('avocadosmoothie.jpg');
}
.img3 {
  width: 100%;
  height: 60%;
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('productduahau.jpg');
}
.img4 {
  width: 100%;
  height: 60%;
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('milktea2.jpg');
}
.text {
  float: left;
  width: 100%;
  height: 60%;
  text-align: center;
  line-height: 0.1;
}
button {
  width: 90%;
  margin-left: 5%;
  height: 30px;
  cursor: pointer;
}
.footer {
  float: left;
  width: 100%;
  height: 250px;
  background-color: black;
}
.contact {
  float: left;
  width: 25%;
  height: 100%;
  color: white;
  margin-left: 50px;
}
.maps {
  float: left;
  width: 100%;
  height: 60%;
}
.report {
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 50px;
  color: white;
  text-align: center;
}
.adress {
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 70px;
  color: white;
}
@media screen and (max-width:1000px){
  body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: arial;
    font-size: 18px;
  }
  .header {
    float: left;
  }
  a {
    font-size: 16px;
    margin-left: 5px;
  }
  .footer {
    max-width: 100%;
  }
  .contact {
    width: 30%;
    margin-left: 20px;
  }
  .report {
    margin-left: 20px;
  }
  .adress {
    max-width: 100%;
    font-size: 16px;
    width: 32%;
    margin-left: 20px;
  }
  .maps {
    width: 100%;
  }
}